<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/puntosalex"
        android:label="@string/app_name"
        android:roundIcon="@drawable/puntosalex"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuntosAlexAlberto"
        tools:targetApi="31">
        <activity
            android:name=".contraseña.ui.ContrasenaActivity"
            android:exported="false"
            android:label="@string/title_activity_contrasena"
            android:theme="@style/Theme.PuntosAlexAlberto" />
        <activity
            android:name=".datosUsu.ui.DatosUsuActivity"
            android:exported="false"
            android:label="@string/title_activity_datos_usu"
            android:theme="@style/Theme.PuntosAlexAlberto" />
        <activity
            android:name=".RegisUsu.ui.RegiUsuActivity"
            android:exported="false"
            android:label="@string/title_activity_regi_usu"
            android:theme="@style/Theme.PuntosAlexAlberto" />
        <activity
            android:name=".DatosFun.ui.DatosFunActivity"
            android:exported="false"
            android:label="@string/title_activity_datos_fun"
            android:theme="@style/Theme.PuntosAlexAlberto" />
        <activity
            android:name=".Registro.ui.RegistroActivity"
            android:exported="false"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.PuntosAlexAlberto" />
        <activity
            android:name=".MainNavigation"
            android:exported="true"
            android:label="Puntos Alex"
            android:theme="@style/Theme.PuntosAlexAlberto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".promos.ui.PromosActivity"
            android:exported="false"
            android:label="@string/title_activity_promos_screem"
            android:theme="@style/Theme.PuntosAlexAlberto" />
        <activity
            android:name=".referidos.ui.ReferidosActivity"
            android:exported="false"
            android:label="@string/title_activity_referidos"
            android:theme="@style/Theme.PuntosAlexAlberto" />
        <activity
            android:name=".referenciados.ui.ReferenciadosActivity"
            android:exported="false"
            android:label="@string/title_activity_referidos"
            android:theme="@style/Theme.PuntosAlexAlberto" />
        <activity
            android:name=".login.ui.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PuntosAlexAlberto" />
    </application>

</manifest>